{% extends 'base.html.twig' %}


{% block container %}
    <div class="row">
        {% for service in services %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="a-card">
                    <div class="bg" style="background-image: url({{ service.image }})"></div>
                    <div class="a-body p-4">
                        <h6 class="a-header px-0 arrow">{{ service.text }}</h6>
                    </div>
                </div>
                <a href="{{ path('service_ticket') }}" class="btn btn-secondary text-white">Записаться</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
