{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        {% for part in parts %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="a-card"  style="background-image: url({{ part.image.link }})">
                    <div class="a-body p-4">
                        <h6 class="a-header px-0 arrow">{{ part.name }}</h6>
                    </div>
                </div>
                <p>{{ part.price }} руб.</p>
                <a class="btn btn-secondary text-white">Заказать</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
