{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        {% for type in types %}
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <a href="{{ path('parts',{car_id:car.id,type_id:type.id}) }}">
                    <div class="a-card">
                        <div class="bg" style="background-image: url({{ type.image | image }})">
                        </div>
                        <div class="a-body p-4">
                            <h6 class="a-header arrow">{{ type.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

