@font-face {
  font-family: 'AudiType';
  src: url('../fonts/AudiType-ExtendedNormal.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'AudiType';
  src: url('../fonts/AudiType-ExtendedBold.woff') format('woff');
  font-weight: bold;
}

$primary: #c03;
$secondary: #000;
$font-family-base: Verdana, Arial, sans-serif;
$headings-font-family: 'AudiType';

$navbar-light-color: $secondary;
$navbar-light-hover-color: $primary;

$border-color: #d5d9d8;

.font-a {
  font-family: $headings-font-family;
}

html {
  font-size: 12px;
}

.container {
  max-width: 1208px !important;
}

