@font-face {
  font-family: 'AudiType';
  src: url('../fonts/AudiType-ExtendedNormal.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'AudiType';
  src: url('../fonts/AudiType-ExtendedBold.woff') format('woff');
  font-weight: bold;
}

$primary: #c03;
$secondary: #000;
$font-family-secondary: Verdana, Arial, sans-serif;
$font-family-base: 'AudiType';

$navbar-light-color: $secondary;
$navbar-light-hover-color: $primary;
$border-radius: 0px;
$border-color: #d5d9d8;

.font-secondary {
  font-family: $font-family-secondary;
}

html {
  font-size: 12px;
}

.container {
  max-width: 1208px !important;
}

