@import "variables";
@import '~font-awesome/css/font-awesome.css';
@import '~bootstrap/scss/bootstrap';

$navlink-space: 30px;

*:focus {
  outline: none;
}

.navbar-brand {
  font-size: 1rem;
}

textarea, input, button {
  outline: none;
  &:focus {
    outline: none;
  }
}

#mainNav {
  .navbar-toggler {
    color: $secondary;
    font-size: 1rem;
  }
  .navbar-nav {
    @media (min-width: 768px) {
      margin-left: -$navlink-space;
    }
    margin-left: 0;
    .nav-link {
      margin-left: $navlink-space;
      padding-left: 0;
    }
  }
}

hr {
  border-color: $border-color;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

div.main-container {
  flex: 1 auto;
}

.container.banner {
  max-width: 1400px !important;
  .banner-bg {
    @media (min-width: 768px) {
      padding-top: 30%;
      video.banner-body {
        top: -50% !important;
      }
    }
    overflow: hidden;
    background-color: $gray-300;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
    .banner-body {
      z-index: 10;
      position: absolute;
      top: 0;
      a {
        color: $secondary;
        &:hover {
          text-decoration: none;
          color: $secondary;
        }
      }
    }
  }

}

.a-header {
  background-color: white;
  padding: .3rem .6rem;
  width: fit-content;
  width: -moz-fit-content;
}

.arrow:after {
  background-image: url("../svg/arrow.svg");
  background-repeat: no-repeat;
  content: '\A0';
  padding-left: 2rem;
  background-position: right;
  background-size: 2rem;
  background-color: transparent;
}

a.undec {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.a-card {
  @extend .mb-1;
  padding-top: 70%;
  position: relative;
  overflow: hidden;
  &:hover {
    .bg {
      transform: scale(1.1);
    }
  }
  .a-body {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
  }
  .bg {
    transition: all .4s ease;
    top: 0;
    position: absolute;
    background-color: $gray-300;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

footer {
  background-color: $gray-300;
  div.border-right {
    border-color: $gray-500 !important;
  }
}

.q-admin {
  opacity: .5;
  position: absolute;
  &:hover {
    opacity: 1;
  }
  &.template {
    display: none;
  }
}