<div class="container banner">
    <div class="row">
        <div class="col-12 p-0">
            <div class="banner-bg position-relative" style="background-image: url({{ banner.image }})">
                {% if banner.video is defined %}
                    <video class="banner-body" width="100%" loop autoplay muted>
                        <source src="{{ banner.video }}" type="video/mp4">
                    </video>
                {% endif %}
                <div class="py-4 px-5 banner-body">
                    {% if banner.body is defined %}
                        {{ banner.body | raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>