<div class="container banner">
    <div class="row">
        <div class="col-12 p-0">
            <div class="banner-body" style="background-image: url({{ banner.image }})"></div>
        </div>
    </div>
</div>