<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title | default('Страница') }} - Оригинальные запчасти Сочи</title>
    <script src="{{ asset('build/js/app.js') }}" defer></script>
    <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    {% include 'favicon.html.twig' %}
</head>
<body>
{% include 'navbar.html.twig' %}
{% if banner is defined %}
    {% include 'banner.html.twig' %}
{% endif %}
{% include '_bread.html.twig' %}
{% block body %}
    <div class="container main-container py-4">
        {% include '_flash.html.twig' %}
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}
{% include 'footer.html.twig' %}
{% block javascripts %}
{% endblock %}
{% if is_granted('ROLE_ADMIN') %}
    <script src="{{ asset('build/js/quick_admin.js') }}"></script>
    <div id="q-admin-template" class="btn-group q-admin template">
        <a class="btn btn-warning edit" href=""><i class="fa fa-pencil"></i></a>
        <a class="btn btn-danger remove" href=""><i class="fa fa-trash"></i></a>
    </div>
{% endif %}
</body>
</html>
