<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title | default('Страница') }} - Оригинальные запчасти Сочи</title>
    <script src="{{ asset('build/js/app.js') }}" defer></script>
    <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    {% include 'favicon.html.twig' %}
</head>
<body>
{% include 'navbar.html.twig' %}
{% if banner is defined %}
    {% include 'banner.html.twig' %}
{% endif %}
{% block body %}
    <div class="container main-container py-4">
        {% block container %}
        {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
