<footer>
    <div class="container">
        <div class="row ">
            <div class="col-4 border-right py-4">
                <p class="m-0">Телефон: +7(123) 123 1123</p>
                <p class="m-0">Адрес: +7(123) 123 1123</p>
                <p class="m-0">Email: +7(123) 123 1123</p>
            </div>
            <div class="col-8 py-4">

            </div>
        </div>
    </div>
</footer>