{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex justify-content-center flex-column flex-shrink-1 flex-grow-1">
        {% block error_content %}
            
        {% endblock %}
    </div>
{% endblock %}